<!-- Ctrl shift r  強制refresh -->
{% extends 'base.html' %}


{% block title %}
Home page
{% endblock %}
{% block content %}



<!-- carousel template -->
<section class="carousel-background">
    <div id="carouselExampleControls" class="carousel slide slideshow" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">
            
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="{{ url_for('static', filename="home_photos/twice.jpg")}}" class="d-block w-100 img-fluid" alt="Twice image">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{{ url_for('static', filename="home_photos/itzy.jpg")}}" class="d-block w-100 img-fluid" alt="Itzy">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{{ url_for('static', filename="home_photos/gfriend.jpeg")}}" class="d-block w-100 img-fluid" alt="Gfriend">
                <div class="carousel-caption d-naone d-md-block">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{{ url_for('static', filename="home_photos/rv.jpg")}}" class="d-block w-100 img-fluid" alt="Red velvet">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
        
    </div>
</section>
<!-- ----------------- -->
<!-- ---- Idea ------- -->

<section class="idea">
    <div>
        <h3 class="idea-title"> Is KPOP too overwhelming?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</section>
<!-- ----------------- -->
<!-- ---- Website information ------- -->
<section class="kpop-info">
    <h3>Kpop Information</h3>
    <div class="container-fluid kpop-text">
        <div class="row">
            <div class="col">
                <h4 class="information-title">News</h4>
                <p class="information-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div class="col">
                <h4 class="information-title">Concert</h4>
                <p class="information-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div class="col">
                <h4 class="information-title">Companies</h4>
                <p class="information-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
        </div>
    </div>
</section>
<!-- ----------------- -->
<!-- ---- Website Features ------- -->
<section class="features">
    <h3>Our Features</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4 class="feature">Face Recognition</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div class="col">
                <h4 class="feature">Newsletter</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
        </div>
    </div>
</section>
<!-- ----------------- -->

{% endblock %}

