{% extends 'base.html' %}


{% block title %}
Newsletter signup
{% endblock %}


<!-- style css later -->
{% block content %}


 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


 <form action = "/newsletter" method = "POST">
   <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailInput" name = "emailInput" placeholder="email@example.com">
   </div>


   <div class="mb-3">
      <label class="form-label">Feedback or Suggestions</label>
      <textarea class="form-control" id="feedback" name= "feedBack"rows="5"></textarea>
   </div>
   
   <button type="submit" class="btn btn-light">Submit</button>
</form>
{% endblock %}


