{% extends 'base.html' %} 


{% block title %} 
Kpop news 
{% endblock %} 






{% block content %}

<!--
render news here here
I need to write a script to fetch news
news_data is a json file
-->


{% for count in range(0,(news_data)| length)%}

<div class="container-fluid">
    
    <div class="news-img">
        <img src={{news_data[count]['image_url']}} alt="News Image" width="500" height="300">
    </div>
    
    <div class="news-article">
        <h4 class="article-title">
            <a href={{news_data[count]['article_url']}}>{{count+1}}. {{news_data[count]['title']}}</a>
        </h4>
    
        <div class="article-text">
            <p>Publish Time: {{news_data[count]['published_datetime']}}</p>
            <p>            
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
            here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>Description: {{news_data[count]['description']}}</p>
            <p>Source: <a href={{news_data[count]['source_url']}}>News Source</a></p> 
        </div>        
    </div>
</div>
<hr>
<hr>
{% endfor %} 



{% endblock %}







