{% extends 'base.html' %}


{% block title %}
Newsletter signup
{% endblock %}


<!-- style css later -->
{% block content %}

<div class="container-fluid newsletter-form">	

	<!-- newsletter text -->

	<p class="newsletter-text">If you are interested in Kpop, and want to learn more, I am personally organizing a KPOP newsletter, and will be sent to your email every month, hand-written by me.</p>

	<!-- flash message -->
	{% with messages = get_flashed_messages() %}
	   {% if messages %}
	      {% for message in messages %}
	         <p>{{ message }}</p>
	      {% endfor %}
	   {% endif %}
	{% endwith %}


	<form action = "/newsletter" method = "POST">
	   <div class="mb-3">
	      <label class="form-label">Email address</label>
	      <input type="email" class="form-control" id="emailInput" name = "emailInput" placeholder="email@example.com">
	   </div>


	   <div class="mb-3">
	      <label class="form-label">Feedback or Suggestions</label>
	      <textarea class="form-control" id="feedback" name= "feedBack"rows="5"></textarea>
	   </div>
	   
	   <button type="submit" class="btn btn-dark">Submit</button>
	</form>
</div>




{% endblock %}

