{% extends 'base.html' %}


{% block title %}
Upload
{% endblock %}


{% block content %}











<div class="container-fluid">
   
   <h2 class="upload-intro">
   Want to figure out which Kpop idols are in the picture?
   No problem. Upload a photo below!
   </h2>

   <div class="outputPhoto">
      <img src="{{ url_for('static', filename="example.jpg") }}" width="785" height="500"/>
   </div>
   

   <form action = "/upload" method = "POST" enctype = "multipart/form-data">
      <label>Upload a photo</label>
      <br>
      <input type = "file" name = "uploadFile" />
      <input type = "submit" id="submit"/>
      
      <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
      </div>
       
      </form>
</div>





<p>{{warning}}</p>



{% endblock %}